name: CI/CD - Deploy Backend Java
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:

    runs-on: self-hosted

    steps:

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build with Maven
        run: mvn clean package

      - name: Deploy Local PM2 Reload
        run: |
          echo "Deploying to local VM runner..."
          $PM2_PATH = "C:\Users\marco.filho\AppData\Roaming\npm\pm2.ps1" 
          
          cp target/gerador-ideias-backend-0.0.1-SNAPSHOT.jar E:/Criaitor/projeto-gerador-ideias-backend/target/
          
          cp ecosystem.config.js E:/Criaitor/projeto-gerador-ideias-backend/
          
          cd E:/Criaitor/projeto-gerador-ideias-backend 
          
          & $PM2_PATH restart CriaitorBackend --update-env 
          & $PM2_PATH save
          
          echo "Deployment successful. Backend restarted."
