name: CI/CD - Deploy Backend Java

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Backend
        run: mvn clean package -DskipTests

      - name: Deploy Backend with PM2
        shell: powershell
        run: |
          echo "Deploying Backend..."

          $BACKEND_DIR = "E:/Criaitor/projeto-gerador-ideias-backend"
          $PM2_PATH = "C:\Users\marco.filho\AppData\Roaming\npm\pm2.ps1"
          $JAR_SOURCE = "$env:GITHUB_WORKSPACE/target/gerador-ideias-backend-0.0.1-SNAPSHOT.jar"

          echo "Copiando novo JAR..."
          Copy-Item -Path $JAR_SOURCE -Destination "$BACKEND_DIR/gerador-ideias-backend-0.0.1-SNAPSHOT.jar" -Force

          cd $BACKEND_DIR

          & $PM2_PATH startOrRestart "E:/Criaitor/ecosystem.config.js" --only CriaitorBackend
          & $PM2_PATH save

          echo "Backend deploy finalizado!"
