name: CI/CD - Deploy Backend Java
on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:

    runs-on: self-hosted

    steps:

      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build with Maven
        run: mvn clean package

      - name: Deploy Local PM2 Reload
        run: |
          echo "Deploying Frontend to VM..."
          
          $FRONTEND_DIR = "E:/Criaitor/projeto-gerador-ideias-frontend"
          $BACKEND_DIR = "E:/Criaitor/projeto-gerador-ideias-backend"
          $PM2_PATH = "C:\Users\marco.filho\AppData\Roaming\npm\pm2.ps1" 
          
          echo "Removendo pasta 'dist' antiga..."
          Remove-Item -Path "$FRONTEND_DIR/dist" -Recurse -Force -ErrorAction SilentlyContinue
          
          cp -r dist $FRONTEND_DIR/
          
          cd $BACKEND_DIR
          
          & $PM2_PATH startOrRestart ecosystem.config.js --only CriaitorFrontend
          & $PM2_PATH save
          
          echo "Frontend Deployment successful."